/* CSS LOGIN */

body {
	font-family: "Verdana";
	height: 100%;
}

/* PANEL BARRA LATERAL */

.nav-item{
	color: #56baed;
	font-family: "Verdana";
}

/* ESTRUCTURA */

.form {
	display: flex;
	justify-content: center;
	margin-top: 170px;
}

.formContent {
	background: #fff;
	text-align: center;
	padding: 30px;
	width: 450px;
	padding: 0px;
	box-shadow: 0 30px 60px 0 #b9b4b4ec;	
}

/* FORMULARIO */

Input {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	margin: 10px;
	width: 85%;
}

select , textarea{
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	margin: 10px;
	width: 85%;
}

.icon{
	font-size: 18px;
}

/* BOTÓN */

button {
	background-color: #56baed;
	border: none;
	color: white;
	padding: 15px 80px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	margin: 5px 20px 40px 20px;
}

.logout{
	cursor: pointer;
}

.logout:hover{
	color: #f07e8a !important;
}
